body {
    font-family: Roboto, Arial, sans-serif;
    color: #0a1628;
    background-color: #e8f4f4;
    margin: 0;
    line-height: 1.5;
}

header,
footer {
    background-color: #0a1628;
    color: #e8f4f4;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 40rem;
    margin: 1rem auto;
    padding: 1rem;
}

form > label {
    display: block;
    margin-top: 1rem;
}

input[type=text],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

fieldset {
    margin: 1.25rem 0 0;
    padding: 0.75rem 0.75rem 0.5rem;
    border: 1px solid #0a1628;
}

legend {
    padding: 0 0.35rem;
    background-color: #e8f4f4;
}

fieldset input[type="checkbox"] {
    display: block;
    margin: 0.65rem 0 0;
}

fieldset input[type="checkbox"] + label {
    display: inline-block;
    margin: -1.45rem 0 0.35rem 1.7rem;
}

input[type="submit"] {
    width: 100%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    text-decoration: underline;
}

@media (min-width: 40rem) {
    main {
        max-width: 40rem;
    }
}