@media screen and (min-width: 40rem) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    main {
        max-width: 70rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

        h2 {
        grid-column: 1 / -1;
    }
    
}